In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [2]:
# Load the dataset
data=pd.read_csv('/Users/deeptilalwani/Documents/Data Science/ASSIGNMENTS/3/Cutlets.csv')
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
data.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [15]:
# 2-sample 2-tail ttest:   stats.ttest_ind(array1,array2)     # ind -> independent samples
statistic,p_value=stats.ttest_ind(data['Unit A'],data['Unit B'])
p_value

0.4722394724599501

In [12]:
print('p_value=',p_value[1])

p_value= 0.4722394724599501

In [16]:
# compare p_value with Î± = 0.05 (At 5% significance level)
alpha = 0.05

if p_value <= alpha:
    print('We reject Null Hypothesis there is a significance difference between two Units A and B')
else:
    print('We fail to reject Null hypothesis')

We fail to reject Null hypothesis