In [10]:
import pandas as pd
from scipy import stats as stats
from scipy.stats import chi2_contingency
from scipy.stats import chi2
import numpy as np

In [ ]:
#H0 = defective % varies by centre
# Ha = defective % does not varies by centre

In [3]:
custom= pd.read_csv('/Users/deeptilalwani/Documents/Data Science/ASSIGNMENTS/3/Costomer+OrderForm.csv')

In [4]:
custom.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [5]:
print(custom['Phillippines'].value_counts(),custom['Indonesia'].value_counts(),custom['Malta'].value_counts(),custom['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [18]:
observed=np.array([[271,267,269,280],[29,33,31,20]])

In [19]:
observed

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [25]:
df=pd.DataFrame(data=observed)
df

     0    1    2    3
0  271  267  269  280
1   29   33   31   20

In [24]:
val=stats.chi2_contingency(observed)
val

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [28]:
no_of_rows=len(df.iloc[0:2,0])
dof=(no_of_rows-1)*(no_of_columns-1)
print('Degree of Freedom=',dof)

Degree of Freedom= 3

In [27]:
Expected_value=val[3]
Expected_value

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [31]:
statistic=val[0]
statistic

3.858960685820355

In [32]:
alpha = 0.05
prob=1-alpha
critical = chi2.ppf(prob, dof)
print('probability=%.3f, critical=%.3f, stat=%.3f' % (prob, critical, statistic))
if abs(statistic) >= critical:
	print('Dependent (reject H0),variables are related')
else:
	print('Independent (fail to reject H0), variables are not related')

probability=0.950, critical=7.815, stat=3.859
Independent (fail to reject H0), variables are not related

In [33]:
p=val[1]
p

0.2771020991233135

In [34]:
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

significance=0.050, p=0.277
Independent (fail to reject H0)